---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...rest } = Astro.props;
---

<div class={className} style="padding: var(--box-padding)" data-slot="card" {...rest}>
    <slot />
</div>
